.header{
    background-color: black;
    color: white;
    text-align: end;
    font-size: smaller;
}
#image{
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center;
}

#links{
    background-color: gold;
    text-transform: uppercase;
}
.span{
    color: gold !important;
}
.headlines{
    font-weight: bold;
    font-size: larger;
}


#footer{
    background-color: black;
    color: white;
    text-align: center;
}
p{
    text-indent: 5ch;
}